body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article {
  width: 1000px;
  margin: 0 auto;
}

h1{
  font-family: 'Alice';
  margin-top: 80px;
  font-size: 135px;
  font-weight: regular;
}

h2{
  font-family: 'AthelasRegular';
  margin-top: 45px;
  font-size: 40px;
  font-weight: bold;
}

h1 + h2 {
  line-height: 60px;
  margin-top: 53px;
}

p {
  font-family: 'AthelasRegular';
  font-size: 30px;
  line-height: 40px;
  font-weight: regular;
  }

p + p {
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

h2 + p {
  margin-top: 20px;
  margin-bottom: 15px;
}

h2 + ul {
  margin-top: 30px;
  margin-bottom: 15px;
}

ul {
  font-family: 'AthelasRegular';
  font-size: 30px;
  line-height: 34px;
  font-weight: regular;
}

p + ul {
  margin-top: 10px;
}

ul + p {
  margin-top: 10px;
}

li {
  font-family: 'AthelasRegular';
  margin: 17px 0 17px 30px;
  list-style-type: none;
}

p {
  margin-bottom: 33px;
}

blockquote {
  font-family: 'AthelasRegular';
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.my-bold-font {
  color: black;
  font-weight: bold;
}
