body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article {
  width: 1000px;
  margin: 0 auto;
}


h1{
  font-family: 'Arvo';
  margin-top: 85px;
  margin-bottom: 50x;
  font-size: 150px;
  font-weight: regular;
}

h2 {
  font-family: 'Merriweather';
  margin-top: 65px;
  margin-bottom: 35px;
  font-size: 42px;
  font-weight: bold;
}

h3 {
  font-family: 'Merriweather';
  margin-top: 30px;
  font-size: 36px;
  font-weight: bold;
}

h1 + h2 {
  line-height: 50px;
  margin-top: 80px;
}

h2 + h3 {
  line-height: 50px;
  margin-top: 2px;
}

h3 + p{
  line-height: 50px;
  margin-top: 15px;
}
h3 + p + p{
  line-height: 50px;
  margin-top: 15px;
}

h2 + p {
  line-height: 48px;
  margin-bottom: 30px;
}

p {
  font-family: 'Merriweather';
  font-size: 30px;
  line-height: 48px;
  font-weight: regular;
  }

p + p {
  line-height: 48px;
  margin-top: 25px;
  margin-bottom: 15px;
}
p + p + p{
    line-height: 48px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

h2 + ul {
  margin-top: 30px;
  margin-bottom: 15px;
}

img + h2{
  margin-top: 30px;
  margin-bottom: 15px;
}
h2 + img {
  margin-top: 30px;
  margin-bottom: 15px;
}
img + p {

  margin-bottom: 15px;
}
p + img {
  margin-top: 20px;
  margin-bottom: 25px;
}
ul {
  font-family: 'Merriweather';
  font-size: 30px;
  line-height: 42px;
  font-weight: regular;
}

p + ul {
  margin-top: 10px;
}

ul + p {
  margin-top: 10px;
}

li {
  margin: 22px 32px 17px;
  list-style-type: disc;
}

p + blockquote {
  font-family: 'AthelasRegular';
  margin: 25px 0px 17px;

  font-size: 40px;
}

.my-bold-font {
  color: black;
  font-weight: regular;
}
